:root {
  --slick-dots-size: 55%;
}
.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
}
.carousel {
  width:20%;
  margin:0px auto;
  display: flex;
  flex-wrap: wrap;
}
.carousel .slick-slide{
  margin:10px;
}
.carousel .slick-slide img{
  width: 100%;
  border: 2px solid black;
  margin: auto;
}
.carousel .slick-list {
  order: 1;
}
.carousel .arrow {
  width: 20%;
  height: 20px;
  right: 0px;
  bottom: 0px;
  order: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .prev {
  margin-left: var(--slick-dots-size); 
}
.carousel .next {
  margin-left: 2%;
}
.carousel .slick-dots{
  bottom: 0px;
  left: 0px;
  width: var(--slick-dots-size);
  max-height: 20px;
  display: flex;
  align-items: center;
  order: 3;
}
.carousel .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .dot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}
.carousel .slick-active div {
  background-color: black;
}